<ul class="navbar-nav ms-auto">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:">
        <i class="icon feather icon-bell" title="Notificaciones"></i>
        <span class="badge bg-danger"><span class="sr-only"></span></span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification notification--sheet">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notificaciones</h6>
          <div class="float-end">
            <a href="javascript:" class="m-r-10">marcar como leído</a>
            <a href="javascript:">borrar todo</a>
          </div>
        </div>
        <ul class="noti-body">
          <li class="n-title">
            <p class="m-b-0">NUEVAS</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Imagen de usuario" />
              <div class="media-body">
                <p>
                  <strong>John Doe</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    hace 30 min
                  </span>
                </p>
                <p>Nuevo ticket agregado</p>
              </div>
            </div>
          </li>
          <li class="n-title">
            <p class="m-b-0">ANTERIORES</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Imagen de usuario" />
              <div class="media-body">
                <p>
                  <strong>Joseph William</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    hace 30 min
                  </span>
                </p>
                <p>Compró un nuevo tema y realizó el pago</p>
              </div>
            </div>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Imagen de usuario" />
              <div class="media-body">
                <p>
                  <strong>Sara Soudein</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    hace 30 min
                  </span>
                </p>
                <p>Sesión iniciada actualmente</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="noti-footer">
          <a href="javascript:">ver todas</a>
        </div>
      </div>
    </div>
  </li>
  
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
         <div class="patient-photo">
              {{ firstLetter }}
          </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <span>{{userName}}</span>
        </div>
        <ul class="pro-body">
          <li>
             <button class="dropdown-item" (click)="viewProfile()" >
              <i class="feather icon-user"></i>
              Perfil
            </button>
          </li>
          <li>
            <button class="dropdown-item" >
              <i class="feather icon-settings"></i>
              Configuración
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="cerrarSesion()" >
              <i class="feather icon-lock"></i>
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
