# Dependencias y builds
node_modules
dist
.tmp
tmp
coverage

# VCS / IDE / SO
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

# Logs y artefactos
*.log
*.zip
*.tar
*.tar.gz

# Angular cache / misc
.angular
