// This file is intentionally left empty to allow customers to add custom CSS if needed.
.titulo-alert{
  text-align: start;
  font-size: 1.4rem;
  color: #30CFD0;
  font-weight: bold;

}

.titulo-opciones{
  text-align: center;
  font-size: 1.4rem;
  color: #30CFD0;
  font-weight: bold;

}

.alert-card {
  background-color: #23272F;
  color: #e0e3e6; /* gris oscuro */
  border-left: 4px solid #facc15; /* amarillo */
  // border: 1px solid #9a9a9a;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 12px;
  // max-width: 700px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 10px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.25),  // sombra inferior
    0 -1px 1px #bdbdbd,  // glow superior suave
    inset 0 1px 0 rgba(255, 255, 255, 0.616); // borde interior claro
}

.alert-icon {
  font-size: 24px;
  color: #facc15;
}

.alert-message {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.label {
  font-weight: 600;
}



.cardGrafic{
  color: white;
   box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.25),  // sombra inferior
    0 -1px 1px #d24949,  // glow superior suave
    inset 0 1px 0 rgba(255, 255, 255, 0.616) !important; // borde interior claro

}
.vehicle-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.mat-dialog-title {
  text-align: center;
}
